// Template for displaying movies

if error
    p #{error}
else if !moviedata
    p "You have no rentals."
else
    div.movie-list
        // Iterate through each movie
        each val, index in moviedata
            div(class="single-movie movie-#{ index }")
                img(src=val.poster width="100" class="poster")
                ul
                    li #{val.title}
                    li #{val.year}
                    
                form(action="")
                    input(type="submit", name=val.rid, id="return-button", class="rented", value="Return This")
               
            br
