// Template for displaying movies

if error
    p #{error}
else if !moviedata
    p "Your search returned no results."
else
    div.movie-list
        // Iterate through each movie
        each val, index in moviedata
            //ul(class="single-movie movie-#{ index }")
            div(class="single-movie movie-#{ index }")
                img(src=val.poster width="100" class="poster")
                ul
                    li #{val.title}
                    li #{val.year}
                if (val.status  === "AVAILABLE")
                    form(action="")
                        input(type="submit", name=val.mid, id="rent-button", class="available", value="Rent This")
                else if (val.status === "UNAVAILABLE")
                    form(action="")
                        input(type="submit", name=val.mid, id="rent-button", class="unavailable", value="Unavailable")
                else if (val.status === "YOU HAVE IT")
                    form(action="")
                        input(type="submit", name=val.mid, id="rent-button", class="unavailable", value="Rented")

            br
